html,
body {
    margin: 0;
    padding: 0;
}
nav {
    display: block;
}
#nsoa-toolbar {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    min-height: 25px;
    height: 25px;
    width: 100%;
    z-index: 1001;
    position: fixed;
    color: #373b41;
    background-color: #c5c8c6;
    border-bottom: 1px solid #969896;
    margin-right: 0;
    margin-left: 0;
    right: 0;
    left: 0;
}
.nsoa-container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.nsoa-container-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nsoa-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: left;
    margin: 0;
}
.nsoa-nav-search {
    position: fixed;
    left: 50%;
}
.nsoa-nav > li {
    position: relative;
    display: block;
    float: left;
}
.nsoa-nav > li > a {
    line-height: 5px;
    position: relative;
    display: block;
    padding: 5px 10px;
    top: -1px;
    text-decoration: none;
    color: #373b41;
    border-bottom: 0;
}
.nsoa-nav > li > a:hover {
    color: #282a2e;
    background-color: #81a2be;
}
.nsoa-nav > li.nsoa-toolbar-btn-danger > a:hover {
    background-color: #cc6666;
}
.nsoa-nav > li.nsoa-toolbar-btn-warning > a:hover {
    background-color: #f0c674;
}
.nsoa-nav > .active > a {
    background-color: #b5bd68;
}
.nsoa-nav > .active-df > a {
    background-color: #de935f;
}
.nsoa-nav > .active-dc > a {
    background-color: #f0c674;
}
.nsoa-nav > .active-cf > a {
    background-color: #b294bb;
}
.nsoa-toolbar-btn {
    font-size: 12pt;
}
#nsoa-editor {
    position: fixed;
    top: 25px;
    bottom: 0;
    right: 0;
    left: 50%;
    z-index: 1;
    font-family: Monaco, Menlo, monospace;
    font-size: 10pt;
}
#nsoa-cheat-sheet {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    position: fixed;
    top: 26px;
    right: 50%;
    width: 450px;
    height: 100%;
    background-color: #f0c674;
    border-left: 1px solid #969896;
    border-right: 1px solid #969896;
    /*box-shadow: -10px 0 10px -8px #969896;*/
    overflow: scroll;
    z-index: 1000;
}
.nsoa-list-group {
    width: 420px;
    padding: 10px 5px 15px;
    margin: 5px auto 20px;
}
.nsoa-list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #e0e0e0;
    border: 1px solid #969896;
    line-height: 1.5;
    vertical-align: middle;
}
.nsoa-list-group-item > h1,
.nsoa-list-group-item > h2,
.nsoa-list-group-item > h3,
.nsoa-list-group-item > h4,
.nsoa-list-group-item > h5 {
    margin-bottom: 0;
}
.nsoa-list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.nsoa-list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
kbd {
    font-family: Monaco, Menlo, monospace;
    font-size: 12pt;
    border: 1px solid #969896;
    padding: 2px 8px;
    border-radius: 3px;
    color: #a3685a;
    background-color: #ffffff;
}
.nsoa-code {
    font-family: Monaco, Menlo, monospace;
    font-size: 10pt;
    font-style: italic;
    color: #a3685a;
    padding-top: 4px;
    float: right;
}
#nsoa-docs {
    position: fixed;
    top: 25px;
    bottom: 0;
    right: 50%;
    left: 0;
    z-index: 1;
    font-size: 10pt;
}
.nsoa-docs-hide {
    right: 100% !important;
}
.nsoa-docs-full {
    right: 0 !important;
}
.nsoa-editor-full {
    left: 0 !important;
}
.nsoa-editor-hide {
    left: 100% !important;
}
.nsoa-pull-right {
    float: right;
}
.nsoa-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}
.nsoa-form {
    width: auto;
    padding: 0 5px 0 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    box-shadow: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.nsoa-form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.nsoa-form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 10px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #373b41;
    background-color: #e0e0e0;
    background-image: none;
    border: 1px solid #969896;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}